body {
    color: black;
    height: 100vh;
}

.wrap { flex-wrap: wrap; }
.small-section { padding: 1rem 1.5rem; }

.green-background { background-color: #80BB9A; color: white; }
.purple-background { background-color: #562E8A; color: white; }
.yellow-background { background-color: #F7E045; }
.is-white { color: white }
.is-bottom { bottom: 0px; }
.with-line { border-bottom: solid #F7E045 !important; }
.vertical-line { height: 30px; width: 2px; background-color: white; }

.avatar {
    width: 60px;
    border-radius: 50%;
}

.avatar-bigger {
    width: 120px;
    border-radius: 50%;
}

.section-element {
    border-style: none;
    color: #4D4D4D;
}

.stylish-message {
    font-size: 15px;
    color: #562E8A;
}

input {
    border-bottom: solid #F7E045 !important;
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    border-right: transparent !important;
    color: #4D4D4D !important;
}

.is-button {
    width: 122pt;
    height: 40pt;
    transform: scale(1, 1.1);
    text-align: center;
    line-height: 0px;
    font-size: 25px;
    border-radius: 10px;
}

.white-bordered-background {
    background-color: white;
    height: 100vh;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}