body {
    background-color: #80BB9A;
    color: black;
    height: 100vh;
}

header {
    height: 20vh;
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    padding-left: 5vw;
}

.burger {
    position: relative;
    height: 15.4pt;
    width: 46.19pt;
    margin-top: 15pt;
}
.trait:first-child {
    width: 30.79pt;
    height: 1px;
    background-color: black;
    position: absolute;
}
.trait:nth-child(2){
    width: 46.19pt;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 7.7pt;
}
.trait:last-child{
    width: 27.71pt;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 18.48pt;
    top: 15.4pt;
}
.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 13vw;
}
img {
    height: 150px;
    width: 100px;
    background-color: white;
    border-radius: 100px;
}
header+div {
    background-color: white;
    width: 100vw;
    height: 75vh;
    margin-left: -9px;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -30px;
    padding-top: 1vh;
}
li {

	display: inline-block;
    width: 140px;
    position: relative;
    text-align: center;
    padding: 5px 0 10px 0;
}
li:first-child {
    text-decoration: underline #F7E045 ;
}
li:hover{
    text-decoration: underline #F7E045;
}
.informations div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
}
input {
    width: 70vw;
    border-bottom: solid #F7E045;
    background-color: white;
    border-left: unset;
    border-top: unset;
    border-right: unset;
    color: #4D4D4D;
}
input::after{
    content: url(file:///Users/noemie/Documents/projet/media/pencil.svg);
    z-index: 4;
}
select {
    width: 70vw;
    border-bottom: solid #F7E045;
    background-color: white;
    border-left: unset;
    border-top: unset;
    border-right: unset;
    color: #4D4D4D;

}